-r requirements.txt

# Testing
pytest>=8.0.0
pytest-homeassistant-custom-component
pytest-cov>=4.0.0

# Required within devcontainer
hassil
home_assistant_intents
PyTurboJPEG
mutagen
pymicro_vad
pyspeex_noise
ha-ffmpeg
